@using SysAnalytics.Web.Helpers
<div class="footer">
    <div class="pull-right">
        Sys Analytics v. @Html.CurrentVersion()
    </div>
    <div>
        <strong>Copyright</strong> <a href="http://www.it.ru">It.ru</a> &copy; @Html.CurrentYear()
    </div>
</div>
