<h2>Home</h2>
<div class="jumbotron">
    <h1>Sys Analytics</h1>
    <p class="lead">Web-app on ASP.NET MVC</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

